body{
    margin: 0;
}
/* CSS Content */
header{
    margin: 0;
    background-color: black;
    opacity: 1;
    size: 100%;
}
.backgroundimg{
    margin: none;
    background-image: url(../assets/images/backgroundUnpar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}
.top{
    display: flex;
}
.middle{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
/* CSS Isi Content */
.imgTop{
    width: 5%;
    height: 5%;
    margin: 1rem 0.5rem 1rem 1rem;
}
.imgIF{
    width: 10%;
    height: 10%;
    margin: 2rem 0.5rem 1rem 2rem;
    
}
.aheader{
    color: lightgray;
}
button{
    color: white;
    background-color: blue;
    border: none;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}
.containerMiddle{
    margin-left: 5rem;
}
/* CSS Link dan Text Content */
.unpar{
    margin-top: 0.1rem;
}

.middle h1{
    margin-top: 0.5rem;
}
.middle button{
    margin-bottom: 1.5rem;
}
.link{
    display: flex;
    align-items: flex-end;
    margin: 1rem 1rem 1.25rem 62rem;
}
a{
    margin: 1rem;
}
