.skripsiSayaContainer{
    display: flex;
    flex-direction: column;
}

/* CSS Bagian Container skripsiSayaTop */

.searchAkun{
    margin: 1rem;
}

.skripsiSayaTop{
    margin: 2rem 1rem 0.5rem 1rem;
    border: solid darkblue 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skripsiSayaTop h3{
    margin: 1rem;
}

.skripsiSayaTop img{
    width: 50%;
    height: 50%;
}
.skripsiSayaTop a{
    width: 10%;
    height: 10%;
}
.skripsiSayaTop  img:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

/* CSS Bagian Container skripsiSayaMain */

.skripsiSayaMain{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skripsiSayaMain a{
    color: black;
    text-decoration: none;
}

label{
    color: white;
    margin: 1rem 0rem 1rem 0rem;
}
fieldset{
    display: flex;
    flex-direction: column;
    border: solid 0.1rem white;
}

.innerMain{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    margin: 0rem 1rem 1rem 0rem;
    width: 100%;
    height: 100%;
}

/* CSS Bagian inner1 Container skripsiSayaMain */

.innerMain1{
    justify-content: center;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    
}

.innerMain1:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

.innerMain2{
    background-color: lightgray;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
}
.innerMain2:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

/* CSS Bagian inner1 Container icon */

.icon{
    border-radius: 70%;
    size: 10%;
}
.bookIcon{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: 15%;
}


/* CSS Bagian inner1 Container textMain */

.innerMain1 h3{
    padding: 0rem;
    padding-left: 1rem;
    padding-bottom: 0rem;
}

.textContent {
    margin-top: 0%;
    height: 20%;
    width: 50%;
    
}

.textContent p{
    padding-left: 1rem;
}

/* Bagian Status*/

.editButton{
    display: flex;
    padding: 2%;
    height: 20%;
    width: 10%;
    justify-content: center;
    align-items: center;
}

/* Bagian Komentar */
.showKomen{
    margin-top: 1rem;
    border-radius: 0.5rem;
}

#comments{
    background-color: lightgray;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#comments:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

.isiKomentar{
    background-color: white;
}

textarea{
    resize: none;
    border-radius: 0.5rem;
}

.innerComments{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}

.innerComments .inputKomentar {
    border-top: 1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}

fieldset{
    border-color: black;
}

/* table css */
table, th, td {
    border: 1px solid black;
    padding: 0.5rem;
  }

