<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        
        <div class="top">
            <img src="assets/images/LogoInformatikaRemoved.png" class="imgIFfooter" alt="logoIF">
            <img src="assets/images/logoUnpar.png" class="imgTopfooter" alt="logoUnpar">
        </div>

        <div class="content">

            <div class="middle-left">
                <p class="pfooter">Jl. Ciumbuleuit No 94, Hegarmanah,Kec Cidadap,</p>
                <p class="pfooter">Kota Bandung, Jawa Barat 401141</p>
                <br>
                <a class="afooter" href="https://unpar.ac.id/">unpar.ac.id</a>
                <a class="afooter" href="https://informatika.unpar.ac.id/">informatika.unpar.ac.id</a>
            </div>

            <div class="middle-right">
                <div class="halamanUmum">
                    <h3>Halaman Umum</h3>
                    <a class="bfooter" href="https://informatika.unpar.ac.id/dosen/"><h4>Data Dosen</h4></a>
                    <a class="bfooter" href="https://informatika.unpar.ac.id/lokasi/"><h4>Lokasi</h4></a>
                    <a class="bfooter" href="https://informatika.unpar.ac.id/"><h4>Kontak</h4></a>
                    <a href="https://www.instagram.com/if.unpar/"><img src="assets/images/insta.png" class="imgIconFooter" alt="logoIG"></a>
                    <a href="https://www.facebook.com/if.unpar/"><img src="assets/images/fb.png" class="imgIconFooter" alt="logoFB"></a>
                    <a href="https://id.linkedin.com/school/universitas-katolik-parahyangan-unpar/"><img src="assets/images/lin.png" class="imgIconFooter" alt="logoLIN"></a>
                </div>
            </div>

        </div>

        <div class="copyright">
            <p class="copyrightFooter">Copyright © Teknik Informatika UNPAR. All right Reserved. Hosting By Me</p>
        </div>

    </footer>
</body>
</html>