<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/header.css">
    <title>Navbar</title>
</head>
<body>
    <header>
        <div class="backgroundimg">
            <div class="top">
                <img src="assets/images/LogoInformatikaRemoved.png" class="imgIF" alt="logoIF">
                <img src="assets/images/logoUnpar.png" class="imgTop" alt="logoUnpar">
    
            </div>
            
            <div class="middle">
                <div class="containerMiddle">
                    <p>TEKNIK INFORMATIKA</p>
                    <p class="unpar">UNIVERSITAS KATOLIK PARAHYANGAN</p>
                    <H1>PORTAL SKRIPSI</H1>
                    <a href="/"><h2>Logout</h2></a>
                    <br>
                    <a href="https://informatika.unpar.ac.id/"><button>Contact Us</button></a>
                </div>
            </div>
        </div>

    </header>
</body>
</html>